.timer h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.time {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f2f4fa;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time p {
    font-weight: 500;
}

.time span {
    color: #aeaeae;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .timer h3 {
        margin: 20px 0px;
    }

    .time {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .timer h3 {
        margin: 10px 0px;
    }

    .time {
        margin-bottom: 8px;
        padding: 5px 0px;
    }

    .time p {
        font-size: 14px;
    }
}