.aside-container {
    background-color: #FFFFFF;
}

.completed {
    margin: 20px;
}

.completed-btn {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #4747f8;
    ;
}

.completed-btn:hover {
    background-color: #2E2F46;
}