.exercise {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    box-shadow: -7px 9px 49px 0px rgba(0, 0, 0, 0.15);
}

.exercise-info {
    margin-bottom: 60px;
}

.exercise-info img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.exercise-desc {
    color: #858585;
}

.age,
.time-required {
    font-weight: 500;
}

.btn-cart {
    width: calc(100% - 40px);
    color: #FFFFFF;
    background-color: #4747f8;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    margin: 20px;
}


.btn-cart:hover {
    cursor: pointer;
    background-color: #059160;
}

@media screen and (max-width: 768px) {
    .exercise {
        padding: 15px;
    }

    .exercise-info {
        margin-bottom: 40px;
    }

    .exercise-info h2,
    p {
        margin: 5px;
    }

    .exercise-info img {
        height: 100px;
    }

    .btn-cart {
        margin: 15px;
    }
}