.App {
  grid-gap: 40px;
  background-color: #f2f4fa;
  display: grid;
  gap: 40px;
  grid-template-columns: 6fr 2fr;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
  }
}