.user-profile {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
}

.user-img {
    margin-top: 20px;
    margin-left: 20px;
}

.user-profile img {
    width: 100%;
    border-radius: 40%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info h3 {
    margin: 5px;
}

.bio-container {
    margin: 20px;
    border-radius: 10px;
    background-color: #f2f4fa;
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
}

.user-bio-item {
    padding: 10px;
    color: #636363;
}

.user-bio-item h2 {
    margin: 0 0 5px 0;

}

.user-bio-item p {
    margin: 0;
    font-weight: 500;
}

.user-bio-item small {
    color: #aeaeae;
    font-weight: 500;
}